body {

    text-align: center;
    background-color: antiquewhite;
}

span {
    margin-top: 15px;

}

.image-section {
     display: flex;
   
    justify-content:center;   
   
}

.section-style {
   
    background-color: aliceblue;
}


